body {
    margin-top: 100px;
    background-color: rgb(43, 43, 43);
}

.main-text {
    color: white;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center
}

.accept {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(205, 100, 226);
    transition: 0.2s;
    margin-right: 20px;
}

.accept:hover {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(205, 100, 226);
    scale: 1.1;
}

.accept:active {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(204, 53, 136);
}

.not-accept {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
}

.not-accept:hover {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    scale: 1.1;
}

.not-accept:active {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(146, 146, 146);
}


.yandex {
    margin-top: 30px;
    width: 800px;
    height: 465px;
    background-color: rgb(247, 244, 209);
    border-radius: 30px;
}

