body {
    margin: 0;
    background-color: rgb(43, 43, 43);
}

.block {
    margin-top: 300px;
    width: 450px;
    height: 350px;
    background-color: white;
    border-radius: 40px;
    border: 2px solid gray;
}

.select {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    height: 38px;
  
    padding-left: 10px;
    padding-right: 25px;
  
    margin: 20px 0px 0px 0px;
  
    border: 1px solid #cbd1d4;
    background-color: #f9f9f9;
  
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333333;
  
    background-repeat: no-repeat;
    background-position: center right 5px;
    background-image: url("https://netology-code.github.io/html-2-homeworks/form-elements/city-select/img/select-arrows.svg")
  }
  
  .select:focus {
    outline: 2px solid #0f8fee;
    outline-offset: 4px;
  }

  .select-label {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .mar {
    margin-top: 50px;
  }

  .marg {
    margin-top: 20px;
  }

  .btn {
    margin: 20px;
  height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(77, 153, 240);
    transition: 0.2s;
    margin-right: 20px;
}

.btn:hover {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(77, 153, 240);
    scale: 1.1;
}

.btn:active {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: 0px solid;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(53, 204, 98);
}